*{
    font-family: "Microsoft YaHei", serif;  /*统一使用微软雅黑字体*/
}

.main-part{
    width: 100%;
    min-width: 1200px;
}
.main-part form{
    width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

.fa-asterisk{
    color: red;
    font-size: 10px;
}

form .btn-block{
    border: none;
    background-color: #5C8CE6;
    color: #fff;
}

form .btn-block:hover{
    background-color: #3976E5;
}

form .checkbox a{
    text-decoration: none;
}