body{
    padding-top: 60px;
}
header{
    width: 100%;
    min-width: 1200px;
    height: 60px;
    font-size: 16px;
    font-family: "Microsoft YaHei", serif;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 2px 2px #ddd;
}

.head-container{
    margin: 0 auto;
    width: 1200px;
}
.logo{
    margin-top: 10px;
    margin-left: 20px;
    width: 160px;
    float: left;
}
.searching-box{
    width:400px;
    float: right;
    margin-top: 13px;
    margin-right: 50px;
}
.searching-box span{
    width: 90px;
    font-size: 14px;
    color: #999;
    border-radius: 17px;
}
.searching-box i{
    font-size: 18px;
}
.searching-box input{
    width: 90px;
    font-size: 14px;
    color: #999;
    border-radius: 17px;
    padding-left: 17px;
}
#basic-addon{
    color: white;
    background-color: #5c8ce6;
}

.login{
    height: 60px;
    float: right;
    margin-right: 30px;
    font-size: 14px;
}
.login a{
    border: none;
    margin-top: 15px;
    margin-left: 10px;
    height: 32px;
}
.login .btn-group a{
    border: 1px solid #ccc;
}
.login .btn-primary{
    background-color: #5c8ce6;
}
.login .btn-primary:hover{
    background-color: #3976e5;
}
.login .btn-danger{
    margin-right: 100px;
    border-radius: 17px;
    padding: 6px 40px;
    background-color: #fff;
    border: 1px solid #f57a7a;
    color: #f57a7a;
}

.login .btn-danger:hover,
.login .btn-danger:focus{
    border: 1px solid white;
    color: white;
    background-color: #f57a7a;
    outline: none;
}

/*页面检索添加类*/
.highlight{
    border-radius: 3px;
    background-color: #a3c3ff;
}
.currentOne{
    border-radius: 3px;
    background-color: #3976e5;
    color:white;
}